<a href="https://colab.research.google.com/github/nurfnick/Data_Viz/blob/main/05_SQL_SubQuery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Sub-Queries

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

I am still gonna keep playing around with liquor data

In [2]:
%%bigquery --project pic-math
SELECT *
FROM `bigquery-public-data.iowa_liquor_sales.sales`
LIMIT 5

  invoice_and_item_number        date  ... volume_sold_liters volume_sold_gallons
0         INV-37362200037  2021-06-09  ...              60.00               15.85
1         INV-21177600024  2019-08-12  ...               6.00                1.58
2         INV-25272100048  2020-02-17  ...               4.00                1.05
3            S27599300045  2015-08-31  ...              48.00               12.68
4            S21884700116  2014-10-20  ...               5.25                1.39

[5 rows x 24 columns]

Let's ask what the most expensive bottle is in each category.

In [3]:
%%bigquery --project pic-math
SELECT category_name, MAX(state_bottle_retail) as max_state_bottle_retail
FROM `bigquery-public-data.iowa_liquor_sales.sales`
GROUP BY category_name

                           category_name     f0_
0    Imported Distilled Spirit Specialty  342.99
1                        Coffee Liqueurs   39.72
2                             Triple Sec   18.50
3            DISTILLED SPIRITS SPECIALTY  112.01
4                      AMERICAN AMARETTO   27.26
..                                   ...     ...
131   MISC. IMPORTED CORDIALS & LIQUEURS  658.19
132      Temporary  & Specialty Packages   13.11
133              IMPORTED VODKA - CHERRY   10.58
134                    American Whiskies   28.50
135       Delisted / Special Order Items   27.75

[136 rows x 2 columns]

This was not too hard.  Let's me mean though and ask for the second most expensive bottle of "DISTILLED SPIRITS SPECIALTY".  Here is where the sub-query is going to come into play.  We don't want to include the most expensive so instead we remove those from the computation.

In [4]:
%%bigquery --project pic-math

SELECT MAX(state_bottle_retail) as max_state_bottle_retail
FROM `bigquery-public-data.iowa_liquor_sales.sales`
WHERE category_name = "DISTILLED SPIRITS SPECIALTY"

   max_state_bottle_retail
0                   112.01

In [9]:
%%bigquery --project pic-math
SELECT MAX(state_bottle_retail) as max_state_bottle_retail
FROM `bigquery-public-data.iowa_liquor_sales.sales`
WHERE state_bottle_retail != (SELECT MAX(state_bottle_retail) as max_state_bottle_retail FROM `bigquery-public-data.iowa_liquor_sales.sales` WHERE category_name = "DISTILLED SPIRITS SPECIALTY")
      AND category_name = "DISTILLED SPIRITS SPECIALTY"

   max_state_bottle_retail
0                    96.51