<a href="https://colab.research.google.com/github/nurfnick/Data_Viz/blob/main/20_Cleaning_Conclusion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exam 2 Review

Utilizing the bank dataset https://github.com/nurfnick/Data_Viz/blob/main/bank.csv answer the following questions.

1. What are the datatypes for each column.  Comment on the appropriateness and change any easy/obvious ones.
2. Using regular expresssions, remove the hyphen "-" from any job and replace it with a space.
3. Convert any place where pdays is -1 to NaN.
4. Fill the NaN in pdays with a zero.
5. Compute the mean and median of balance when grouped by job.
6. Add a column that is a datetime.  Use year of 2020.
7. Which day of the week (Monday, Tuesday, ect.) had the most approved loans, y = yes.
8. Create an indicator column that shows if the person has more than \$500 in their acocunt.
9. Are divorced, admin people given loans at a higher rate?
10. Which job is most likely to have a default on their record?
11. Do highly educated people have more or less cellular phones than on average?
12. Write another question based on your knowledge of the dataset.

In [11]:
import pandas as pa

df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/bank.csv')

df.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no

In [3]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [7]:
df.y = df.y=='yes'

In [8]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y              bool
dtype: object

In [14]:
import re

re.sub(r"-"," ",df.job[6])

'self employed'

In [16]:
df.job.apply(lambda x: re.sub(r"-"," ",x))

0          unemployed
1            services
2          management
3          management
4         blue collar
            ...
4516         services
4517    self employed
4518       technician
4519      blue collar
4520     entrepreneur
Name: job, Length: 4521, dtype: object

In [17]:
df.job = df.job.apply(lambda x: re.sub(r"-"," ",x))

In [26]:
import numpy as np

df.pdays.replace(-1,np.nan)

0         NaN
1       339.0
2       330.0
3         NaN
4         NaN
        ...
4516      NaN
4517      NaN
4518      NaN
4519    211.0
4520    249.0
Name: pdays, Length: 4521, dtype: float64

In [27]:
df.pdays = df.pdays.replace(-1,np.nan)

In [29]:
df.pdays = df.pdays.fillna(0)

In [34]:
df.groupby('job').balance.agg(['mean','median','count','std'])

                      mean  median  count          std
job
admin.         1226.736402   430.0    478  2370.119128
blue collar    1085.161734   408.5    946  2040.218220
entrepreneur   1645.125000   365.5    168  4441.303620
housemaid      2083.803571   296.5    112  4603.836647
management     1766.928793   577.0    969  3267.733077
retired        2319.191304   672.5    230  5846.379889
self employed  1392.409836   483.0    183  2479.640999
services       1103.956835   288.0    417  2445.239976
student        1543.821429   422.5     84  2579.886671
technician     1330.996094   434.5    768  2630.253390
unemployed     1089.421875   473.5    128  1692.267628
unknown        1501.710526   655.5     38  1957.258258

In [36]:
monthConvert = {
    'jan':1,
    'feb':2,
    'mar':3,
    'apr':4,
    'may':5,
    'jun':6,
    'jul':7,
    'aug':8,
    'sep':9,
    'oct':10,
    'nov':11,
    'dec':12
}

In [52]:
date = pa.to_datetime(dict(year = 2020, day = df.day, month = df.month.map(monthConvert)))

In [63]:
df = pa.concat([df,pa.DataFrame( date)],axis = 1)

df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,0
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,0.0,0,unknown,no,2020-10-19
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339.0,4,failure,no,2020-05-11
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330.0,1,failure,no,2020-04-16
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,0.0,0,unknown,no,2020-06-03
4,59,blue collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,0.0,0,unknown,no,2020-05-05

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,0.0,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339.0,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330.0,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,0.0,0,unknown,no
4,59,blue collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,0.0,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,0.0,0,unknown,no
4517,57,self employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,0.0,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,0.0,0,unknown,no
4519,28,blue collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211.0,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249.0,7,other,no

In [65]:
df.groupby(['education','contact']).age.agg('count')

education  contact
primary    cellular      343
           telephone      75
           unknown       260
secondary  cellular     1446
           telephone     141
           unknown       719
tertiary   cellular     1012
           telephone      66
           unknown       272
unknown    cellular       95
           telephone      19
           unknown        73
Name: age, dtype: int64