<a href="https://colab.research.google.com/github/nurfnick/Data_Viz/blob/main/Content/Data_Collecting/04_SQL_Essentials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Essentials

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Let's start with the basics.  I'll continue to work with the liquor store data.

In [ ]:
%%bigquery --project pic-math
SELECT *
FROM `bigquery-public-data.iowa_liquor_sales.sales`
LIMIT 5

  invoice_and_item_number        date  ... volume_sold_liters volume_sold_gallons
0         INV-25210600054  2020-02-13  ...               48.0               12.68
1            S23115100025  2014-12-22  ...                4.0                1.06
2            S18402900152  2014-04-14  ...               11.0                2.91
3            S14219300007  2013-08-29  ...               13.5                3.57
4            S24682700083  2015-03-24  ...                4.0                1.06

[5 rows x 24 columns]

Why did I run that command?  Well it gives me an idea of what is in the table to reference and think about what questions I might ask!  Let's see how many gallons of liqour have been sold.

In [ ]:
%%bigquery --project pic-math
SELECT SUM(volume_sold_gallons) as Total_Gallons_of_Liquor
FROM `bigquery-public-data.iowa_liquor_sales.sales`

   Total_Gallons_of_Liquor
0             5.560763e+07

Let's do a small conversion just to see what that means.  An olympic pool holds 660 000 gallons so

In [ ]:
(5.560763*10**7)/660000

84.25398484848485

About 84 swimming pools of liquor in Iowa!  Fun times...

Let's make it more complicated.  Let's see what the dollars per gallon is on the full dataset.

In [ ]:
%%bigquery --project pic-math
SELECT SUM(sale_dollars)/SUM(volume_sold_gallons) as Total_Dollars_Per_Gallon
FROM `bigquery-public-data.iowa_liquor_sales.sales`

   Total_Dollars_Per_Gallon
0                 57.373869

Okay not terribly interesting.  Let's take that quesiton and add too it.  Let's create a column that is dollars per gallon of liquor.

In [ ]:
%%bigquery --project pic-math
SELECT sale_dollars/volume_sold_gallons as Dollars_Per_Gallon
FROM `bigquery-public-data.iowa_liquor_sales.sales`
WHERE volume_sold_gallons != 0
LIMIT 5

   Dollars_Per_Gallon
0           13.741325
1           94.537815
2           28.391167
3           48.692516
4          136.840336

I have added a few new things here.  The `WHERE` clause allows me to restrict what I consider.  You can combine several of the statements logically

In [ ]:
%%bigquery --project pic-math
SELECT sale_dollars/volume_sold_gallons as Dollars_Per_Gallon, item_description
FROM `bigquery-public-data.iowa_liquor_sales.sales`
WHERE volume_sold_gallons != 0 and category_name = 'Coffee Liqueurs'

       Dollars_Per_Gallon                       item_description
0              136.363636            Iowa Coffee Company Liqueur
1              136.134454            Iowa Coffee Company Liqueur
2              136.134454            Iowa Coffee Company Liqueur
3              135.000000            Iowa Coffee Company Liqueur
4              118.421053  Mozart Chocolate Coffee Cream Liqueur
...                   ...                                    ...
78766           91.474576    Kahlua French Vanilla Liqueur DISCO
78767           91.474576    Kahlua French Vanilla Liqueur DISCO
78768           91.474576    Kahlua French Vanilla Liqueur DISCO
78769           91.474576    Kahlua French Vanilla Liqueur DISCO
78770           91.474576    Kahlua French Vanilla Liqueur DISCO

[78771 rows x 2 columns]

I added the `item_description` so that I could see which ones were different.  It is not utilized the the analysis yet.  Let's include it by getting the average price of coffee liqueurs based on the description.  To do this I'll add the `GROUP BY` command

In [ ]:
%%bigquery --project pic-math
SELECT AVG(sale_dollars/volume_sold_gallons) as Average_Dollars_Per_Gallon, item_description
FROM `bigquery-public-data.iowa_liquor_sales.sales`
WHERE volume_sold_gallons != 0 and category_name = 'Coffee Liqueurs'
GROUP BY item_description

    Average_Dollars_Per_Gallon                                  item_description
0                    93.411691                                     Kahlua Coffee
1                   776.615963                                Kahlua Coffee Mini
2                    92.405096                             Kahlua Coffee Liqueur
3                    48.811417                             Kamora Coffee Liqueur
4                   109.767153                                    Patron Xo Cafe
5                    76.032478                        Kahlua Coffee Liqueur Mini
6                   187.292855                       Iowa Coffee Company Liqueur
7                    41.034034                             Kapali Coffee Liqueur
8                    94.736642                             Kahlua Salted Caramel
9                    38.571044                              Chila Coffee Liqueur
10                   96.502963                                    Kahlua Vanilla
11                   38.358325                       Caffe Lolita Coffee Liqueur
12                   90.549048               Kahlua French Vanilla Liqueur DISCO
13                   44.152230                        Copa De Oro Mexican Coffee
14                  107.826091                                    Patron XO Cafe
15                  115.010680             Mozart Chocolate Coffee Cream Liqueur
16                  205.745228                     Kahlua French Vanilla Liqueur
17                   72.869733                                Carolans Cold Brew
18                  137.784413  Original Secret Family Recipe - A Coffee Liqueur
19                   68.270587                               Grind Espresso Shot
20                   90.705882                                   Kahlua Especial
21                  117.936185                          Tia Maria Coffee Liqueur
22                  118.170457                       J. Rieger & Co. Caffe Amaro
23                  248.540562                                CCD Coffee Liqueur
24                   90.705882                           Kahlua Peppermint Mocha
25                 1136.210526                            Kahlua Chili Chocolate
26                   16.996845                           Conciere Coffee Liqueur
27                   65.656795                           Dr McGillicuddys Coffee

Okay but we pointed out earlier that there is no order...  Let's force an order on it

In [ ]:
%%bigquery --project pic-math
SELECT AVG(sale_dollars/volume_sold_gallons) as Average_Dollars_Per_Gallon, item_description
FROM `bigquery-public-data.iowa_liquor_sales.sales`
WHERE volume_sold_gallons != 0 and category_name = 'Coffee Liqueurs'
GROUP BY item_description
ORDER BY Average_Dollars_Per_Gallon DESC

    Average_Dollars_Per_Gallon                                  item_description
0                  1136.210526                            Kahlua Chili Chocolate
1                   776.615963                                Kahlua Coffee Mini
2                   248.540562                                CCD Coffee Liqueur
3                   205.745228                     Kahlua French Vanilla Liqueur
4                   187.292855                       Iowa Coffee Company Liqueur
5                   137.784413  Original Secret Family Recipe - A Coffee Liqueur
6                   118.170457                       J. Rieger & Co. Caffe Amaro
7                   117.936185                          Tia Maria Coffee Liqueur
8                   115.010680             Mozart Chocolate Coffee Cream Liqueur
9                   109.767153                                    Patron Xo Cafe
10                  107.826091                                    Patron XO Cafe
11                   96.502963                                    Kahlua Vanilla
12                   94.736642                             Kahlua Salted Caramel
13                   93.411691                                     Kahlua Coffee
14                   92.405096                             Kahlua Coffee Liqueur
15                   90.705882                                   Kahlua Especial
16                   90.705882                           Kahlua Peppermint Mocha
17                   90.549048               Kahlua French Vanilla Liqueur DISCO
18                   76.032478                        Kahlua Coffee Liqueur Mini
19                   72.869733                                Carolans Cold Brew
20                   68.270587                               Grind Espresso Shot
21                   65.656795                           Dr McGillicuddys Coffee
22                   48.811417                             Kamora Coffee Liqueur
23                   44.152230                        Copa De Oro Mexican Coffee
24                   41.034034                             Kapali Coffee Liqueur
25                   38.571044                              Chila Coffee Liqueur
26                   38.358325                       Caffe Lolita Coffee Liqueur
27                   16.996845                           Conciere Coffee Liqueur

Let's keep going down the rabbit hole here.  What if we want to rank them?  There are lots of ways `ROW_NUMBER`, `RANK` and `DENSE_RANK`.  I find them difficult to use because they require lots of other inputs.

The general call is something like

``ROW_NUMBER() OVER(PARTITION BY ________ ORDER BY _________)``

Partition is like grouping.  I'll add another liquor to use it

In [ ]:
%%bigquery --project pic-math
SELECT 
  AVG(sale_dollars/volume_sold_gallons) as Average_Dollars_Per_Gallon, 
  item_description, 
  ROW_NUMBER() OVER(
    PARTITION BY category_name
    ORDER BY item_description) row_num
FROM `bigquery-public-data.iowa_liquor_sales.sales`
WHERE volume_sold_gallons != 0 and (category_name = 'Coffee Liqueurs')
GROUP BY item_description, category_name
ORDER BY Average_Dollars_Per_Gallon DESC

    Average_Dollars_Per_Gallon  ... row_num
0                  1136.210526  ...      11
1                   776.615963  ...      15
2                   248.540562  ...       1
3                   205.745228  ...      17
4                   187.292855  ...       9
5                   137.784413  ...      25
6                   118.170457  ...      10
7                   117.936185  ...      28
8                   115.010680  ...      24
9                   109.767153  ...      27
10                  107.826091  ...      26
11                   96.502963  ...      21
12                   94.736642  ...      20
13                   93.411691  ...      12
14                   92.405096  ...      13
15                   90.705882  ...      16
16                   90.705882  ...      19
17                   90.549048  ...      18
18                   76.032478  ...      14
19                   72.869733  ...       3
20                   68.270587  ...       8
21                   65.656795  ...       7
22                   48.811417  ...      22
23                   44.152230  ...       6
24                   41.034034  ...      23
25                   38.571044  ...       4
26                   38.358325  ...       2
27                   16.996845  ...       5

[28 rows x 3 columns]

You should notice that the `ROW_NUMBER` didn't do what we needed.  You will not be able to do the row nor rank on the column we created because it is not yet available to the SQL call.  This leads to sub-processees.  Let's show one today and come back to it next class.

In [ ]:
%%bigquery --project pic-math
WITH t as(
SELECT 
  AVG(sale_dollars/volume_sold_gallons) as Average_Dollars_Per_Gallon, 
  item_description, category_name
FROM `bigquery-public-data.iowa_liquor_sales.sales`
WHERE volume_sold_gallons != 0 and (category_name = 'Coffee Liqueurs' or category_name = 'Imported Vodkas')
GROUP BY item_description, category_name
ORDER BY Average_Dollars_Per_Gallon DESC
)

SELECT *, 
    RANK() OVER(
    PARTITION BY category_name
    ORDER BY Average_Dollars_Per_Gallon) rk_num
FROM t
ORDER BY rk_num

     Average_Dollars_Per_Gallon  ... rk_num
0                     16.996845  ...      1
1                     23.335834  ...      1
2                     38.358325  ...      2
3                     27.608509  ...      2
4                     38.571044  ...      3
..                          ...  ...    ...
164                 2921.600000  ...    137
165                 2935.463736  ...    138
166                 9000.000000  ...    139
167                16996.723367  ...    140
168                17136.000000  ...    141

[169 rows x 4 columns]

We will come back to this but a nice taste of some of the really powerful aspects of SQL!

## Assignment



Assignement for today

1. Start a notebook getting BigQuery to work. Feel free to use the authentication atop.
2. Navigate to the dataset 'austin_bikeshare.bikeshare_trips'
3. Compute the average time for a trip based on starting point
4. Compute how many trips start at each starting point.

## Me Playing Around

I wanted to find why 'vodka' wasn't in the table.  Well it was but with other qualifiers.  I needed to use a string command `LIKE` I also looked at `CONTAINS` but didn't get it to work.

In [ ]:
%%bigquery --project pic-math
SELECT category_name
FROM `bigquery-public-data.iowa_liquor_sales.sales`
WHERE category_name LIKE '%Vodka%'
GROUP BY category_name

             category_name
0           Imported Vodka
1           American Vodka
2          American Vodkas
3          Imported Vodkas
4  American Flavored Vodka
5  Imported Flavored Vodka